{% extends "layout.html" %}

{% block title %}
    <title>JBlog - About</title>
{% endblock title %}    

{% block body %}
    <p>Ben Jan Franco, 21 yaşındayım. Müzik kariyerime farklı gece kulüplerinde müzikler dinleyerek başladım. Yetenekli ve
    popüler DJ Archie Allen tarafından eğitim aldım. 3 yıl boyunca Ciziten'da Resident DJ'lik yaptım. Yeni projelere açığım.
    Son dönemde çıkardığım If You Love Me ve Saudade Lo-Fi House Mixlerim Youtube dünyasını salladı. En başarılı DJ benim.</p>
    <br>
    <img src="https://i.hizliresim.com/WqPjPN.jpg" width="270" height="480">
{% endblock body %} 